{% extends('base.html.twig') %}

{% block body %}
    <h2> {{ title }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
        </tr>
        </thead>
        <tbody>
        {% for item in array %}
            <tr>
                <td>{{ item.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}